/* - =========================
- Root Variables
- ========================= */

:root {
  --primary-100: hsl(0, 0%, 50%);
  --primary-500: hsl(0, 0%, 85%);
  --primary-900: hsl(0, 0%, 100%);
  --secondary-100: hsl(0, 0%, 18%);
  --secondary-500: hsl(0, 0%, 14%);
  --secondary-900: hsl(0, 0%, 25%);
  --accent-100: hsl(210, 80%, 35%);
  --accent-500: hsl(210, 85%, 60%);
  --accent-900: hsl(210, 90%, 75%);
  --site-100: hsl(0, 0%, 12%);
  --site-500: hsl(0, 0%, 10%);
  --site-900: hsl(0, 0%, 8%);
}