#content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  box-sizing: border-box;
}

#gallery {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

#frame {
  flex: 1;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

#frame img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

#credit {
  flex-shrink: 0;
  padding: var(--pad);
  text-align: right;
  /* background: white; */
  /* border-top: 1px solid rgba(0, 0, 0, 0.1); */
}