/* - =========================
- Root Variables
- ========================= */

:root {
  --primary-100: hsl(0, 0%, 60%);
  --primary-500: hsl(0, 0%, 20%);
  --primary-900: hsl(0, 0%, 0%);
  --secondary-100: hsl(0, 0%, 98%);
  --secondary-500: hsl(0, 0%, 93%);
  --secondary-900: hsl(0, 0%, 85%);
  --accent-100: hsl(210, 100%, 92%);
  --accent-500: hsl(210, 75%, 45%);
  --accent-900: hsl(210, 80%, 30%);
  --site-100: hsl(0, 0%, 100%);
  --site-500: hsl(0, 0%, 100%);
  --site-900: hsl(0, 0%, 97%);
  --scrollbar: var(--primary-500) transparent;
  --font-family: monospace;
  --font-size: 16px;
  --line-height: 1.5;
}

/* - =========================
- HTML and Body Styling
- ========================= */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  overflow: auto;
  position: relative;
  box-sizing: border-box;
  color: var(--primary-100);
  background: var(--site-900);
  scrollbar-color: var(--scrollbar);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

/* - =========================
- Wildcard Styling
- ========================= */

* {
  box-sizing: border-box;
  scrollbar-color: var(--scrollbar);
}

/* - =========================
- Utility Classes
- ========================= */

.hidden {
  display: none !important;
}

.debugging * {
  box-shadow: 0 0 0 1px purple !important;
}

/* - =========================
- Page Element Styling
- ========================= */

#page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  position: relative;
}

/* - =========================
- Content Element Styling
- ========================= */

#content {
  height: 70%;
  width: 70%;
  margin: 0;
  padding: 2rem;
  overflow: auto;
  resize: both;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--secondary-500);
  border-radius: 2rem;
}

/* - =========================
- Link Styling
- ========================= */

a,
a:visited,
a:hover,
a:active,
a:focus {
  color: var(--primary-900);
  text-decoration: none;
}

a:hover,
a:focus {
  opacity: 0.8;
  color: var(--accent-900);
  text-decoration: underline;
}

/* - =========================
- List Styling
- ========================= */

ul {
  list-style-type: disc;
  padding-left: 2rem;
}

li {
  margin-bottom: 0.5rem;
}

li::marker {
  color: var(--accent-900);
}

/* ~ =======================================================
~ Project Styling
~ ======================================================= */